PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/goride?retryWrites=true&w=majority&appName=GoRIDE
SESSION_SECRET=replace_this_with_a_long_random_secret
